{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              
              <div class="post-thumbnail"><img src="{{ postdetail.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                    {% for cat in postdetail.categories.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                </div>
                </div>
                <h1>{{ postdetail.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ postdetail.author.profile_pic.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ postdetail.author.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>{{ postdetail.timestamp|timesince }} ago</div>
                    <div class="views"><i class="icon-eye"></i>{{ postdetail.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ postdetail.comments.count }}</div>
                  </div>
                 </div>
                 <a href="{% url 'post-update' postdetail.id %}">Update</a>
                 <a href="{% url 'post-delete' postdetail.id %}">Delete</a>
                <div class="post-body">
                  <p class="lead">div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione quis perspiciatis deleniti accusantium</p>
                  <p>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione quis perspiciatis deleniti accusantium</p>
                  <p> <img src="{% static 'img/featured-pic-3.jpeg' %}" alt="..." class="img-fluid"></p>
                  <h3>Lorem Ipsum Dolor</h3>
                  <p>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto voluptates deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione quis perspiciatis deleniti accusantium</p>
                  <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <footer class="blockquote-footer">Someone famous in
                      <cite title="Source Title">Source Title</cite>
                    </footer>
                  </blockquote>
                  <p>quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea iusto numquam veritatis, officiis. Accusantium optio minus, voluptatem? Quia reprehenderit, veniam quibusdam provident, fugit iusto ullam voluptas neque soluta adipisci ad.</p>
                </div>
                <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                  {% if postdetail.previous_post %}
                  
                  <a href="{{ postdetail.previous_post.get_absolute_url }}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{ postdetail.previous_post.title }}</h6>
                    </div></a>
                    {% endif %}
                    {% if postdetail.next_post%}
                    <a href="{{ postdetail.next_post.get_absolute_url }}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{ postdetail.next_post.title }}</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                  </a>
                  {% endif %}
                  </div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ postdetail.comments.count }})</span></h3>
                  </header>
                  {% for comment in postdetail.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                        <div class="image"><img src="" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="title"><strong>{{ comment.name }}</strong><span class="date">{{ comment.timestamp|timesince }} ago</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{ comment.content }}</p>
                    </div>
                  </div>
                  {% endfor %}
                  </div>
                  
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="." method="POST" class="commenting-form">{% csrf_token %}
                    <div class="row">
                    {{ form.as_p }}
                    <br>
                      <div class="form-group col-md-12">
                        <br>
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
          <!-- Widget [Search Bar Widget]-->
          <div class="widget search">
            <header>
              <h3 class="h6">Search the blog</h3>
            </header>
            <form action="{% url 'search' %}" class="search-form">
              {% csrf_token %}
              <div class="form-group">
                <input type="search" name="q" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
              </div>
            </form>
          </div>
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>              
              <h3 class="h6">Latest Posts</h3>
            </header>
            
            <div class="blog-posts"><a href="#">
                {% for postlist in most_recent %}
                <div class="item d-flex align-items-center">
                   
                  <div class="image"><img src="{{ postlist.thumbnail.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{ postlist.title }}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i>{{ postlist.view_count }}</div>
                      <div class="comments"><i class="icon-comment"></i>{{ postlist.comment_count }}</div>
                    </div>
                  </div>
                  
                </div></a>
                {% endfor %}
              </div>
                
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
            <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          
        </aside>
      </div>
    </div>
    {% endblock %}